#matrixTable {
    margin-top: 20px;
}
#matrixTable td {
    position: relative;
    background-clip: padding-box;
}
.horizontal-heading td .rotated {
    margin-bottom: 7px;
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.horizontal-heading td {
    vertical-align: bottom;
}
.diagonal {
    background-color: darkgray !important;
}
.depends-on {
    background-color: red !important;
}
table {
    border-collapse: collapse;
}
td.cell {
    text-align: center;
    border: solid 2px black
}
td[data-accessibility] .signature {
    background-color: white;
}
td[data-accessibility=PUBLIC] .signature {
    color: green;
}
td[data-accessibility=PROTECTED] .signature {
    color: orange;
}
td[data-accessibility=PRIVATE] .signature {
    color: black;
}
td[data-accessibility=DEFAULT] .signature {
    color: blue;
}
td[data-static=true] .signature {
    background-color: #D0D0D0;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.highlightable.highlighted, .highlightable.highlighted .signature {
    background-color: yellow;
}
.highlightable.dependency, .highlightable.dependency .signature {
    background-color: #D09CDC;
}
tr:first-child td {
    padding-bottom: 5px;
}
[data-override=true].horizontal-content {
    margin-left: -15px;
    padding-left: 15px;
    background-color: orange;
}
[data-overloaded=true].horizontal-content {
    margin-left: -30px;
    padding-left: 30px;
    background-color: purple;
}
.relative-dependency {
    position: absolute;
    left: -60px;
}
.index-distance {
    font-size: 14px;
}
.line-distance {
    font-size: 10px;
}
