#* @vtlvariable name="info" type="org.pirat9600q.graph.DependencyInfo" *#
<!DOCTYPE html>
<html>
    <head>
        <style>
            .horizontal-heading td .rotated {
                margin-bottom: 10px;
                position: relative;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
            .horizontal-heading td {
                max-width: 30px;
            }
            .diagonal {
                background-color: darkgray;
            }
            .depends-on {
                background-color: red;
            }
            table {
                border-collapse: collapse;
            }
            td.cell {
                text-align: center;
                border: solid 2px black
            }
        </style>
    </head>
    <body>
        <table style="margin-top: 300px">
            <thead></thead>
            <tbody>
                <tr class="horizontal-heading">
                    <td></td>
                    #foreach($method in $info.methodsSortedByIndex)
                        <td>
                            <div class="rotated">
                                $method.signature
                            </div>
                        </td>
                    #end
                </tr>
                    #foreach($caller in $info.methodsSortedByIndex)
                        <tr>
                            <td>$caller.signature</td>
                            #foreach($callee in $info.methodsSortedByIndex)
                                #if($callee.index == $caller.index)
                                    <td class="cell diagonal">-</td>
                                #elseif($info.isMethodDependsOn($caller, $callee))
                                    <td class="cell depends-on">$caller.getDistanceTo($callee)</td>
                                #else
                                    <td class="cell"></td>
                                #end
                            #end
                        </tr>
                    #end
            </tbody>
        </table>
    </body>
</html>
