#* @vtlvariable name="javaSource" type="java.lang.String" *#
#* @vtlvariable name="css" type="java.lang.String" *#
#* @vtlvariable name="javaScript" type="java.lang.String" *#
#* @vtlvariable name="info" type="org.pirat9600q.graph.DependencyInfo" *#
<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script>
            $javaScript
        </script>
        <style>
            $css
        </style>
    </head>
    <body>
        <table id="matrixTable" class="centered">
            <thead></thead>
            <tbody>
                <tr class="horizontal-heading">
                    <td></td>
                    #foreach($method in $info.methodsSortedByIndex)
                        <td data-accessibility="$method.accessibility" data-static="$method.static">
                            <div class="rotated">
                                $method.signature
                            </div>
                        </td>
                    #end
                </tr>
                    #foreach($caller in $info.methodsSortedByIndex)
                        <tr>
                            <td data-accessibility="$caller.accessibility" data-static="$caller.static">
                                $caller.signature
                            </td>
                            #foreach($callee in $info.methodsSortedByIndex)
                                #if($callee.index == $caller.index)
                                    <td class="cell diagonal">-</td>
                                #elseif($info.isMethodDependsOn($caller, $callee))
                                    <td class="cell depends-on">$caller.getDistanceTo($callee)</td>
                                #else
                                    <td class="cell"></td>
                                #end
                            #end
                        </tr>
                    #end
            </tbody>
        </table>
        <div class="centered">
            In the matrix above, methods situated in the order they appear
            in class definition(first method occupies first row and first column,
            second method occupies second row and second column an so on). Text color
            indicates accessibility of methods in the following way:
            <ul>
                <li>public - GREEN</li>
                <li>protected - yellow</li>
                <li>private - black</li>
                <li>default - blue</li>
            </ul>
            Grey background color indicates that method is static.
        </div>
        <p>
            If some method depends on another method(by calling it), then matrix
            cell situated at intersection of caller`s row and callee`s column is displayed
            in red and number in this cell indicates distance between methods.
            Diagonal cells are always displayed in grey.
        </p>
        <h4>Source file</h4>
        <!-- Library -->
        <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js"></script>
        <!-- Source code -->
        <script type="syntaxhighlighter" class="brush: java"><![CDATA[$javaSource]]></script>
        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>
    </body>
</html>
