.horizontal-heading td .rotated {
    margin-bottom: 10px;
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.horizontal-heading td {
    /*max-width: 30px;*/
}
.diagonal {
    background-color: darkgray !important;
}
.depends-on {
    background-color: red !important;
}
table {
    border-collapse: collapse;
}
td.cell {
    text-align: center;
    border: solid 2px black
}
td[data-accessibility=PUBLIC] {
    color: green;
}
td[data-accessibility=PROTECTED] {
    color: yellow;
}
td[data-accessibility=PRIVATE] {
    color: black;
}
td[data-accessibility=DEFAULT] {
    color: blue;
}
td[data-static=true] {
    background-color: #D0D0D0;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.highlightable.highlighted {
    background-color: yellow;
}
