.horizontal-heading td .rotated {
    margin-bottom: 10px;
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.horizontal-heading td {
    /*max-width: 30px;*/
}
.diagonal {
    background-color: darkgray;
}
.depends-on {
    background-color: red;
}
table {
    border-collapse: collapse;
}
td.cell {
    text-align: center;
    border: solid 2px black
}
